.container {
  height: calc(100vh - 50px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #dfecf5;
  justify-content: center;
  align-items: center;
  position: relative;
}

.drawer {
  margin-top: 4rem;  /* need to remove */
  position: fixed;
  width: 250px;
  top: 0;
  top: 50px;
  height: calc(100vh - 150px);
  background: transparent;
  overflow-y: auto;
  transition: width 0.3s ease;

/* Default Unselected State */
:global(.ant-menu-item),
:global(.ant-menu-submenu-title),
:global(.ant-menu-sub .ant-menu-item) {
  background-color: transparent !important;
  color: black !important;
}
}

.drawerCollapsed {
  width: 50px !important;
}

.drawerExpanded {
  width: 250px !important;
}

/* Selected Parent Menu Item */
:global(.ant-menu-item-selected) {
  background-color: #D8F7FF !important;
  color: #0078D7 !important;
  border-left: 4px solid #0078D7 !important; 
  border-radius: 0 !important; 
  svg path {
    fill: #0078D7 !important;
  }
}

/* Selected Submenu Items */
:global(.ant-menu-sub .ant-menu-item-selected) {
  background-color: #0078D7 !important;
  color: white !important;
    border-left: 4px solid #0078D7 !important;
  border-radius: 0 !important;

}

/* If a submenu item is selected → highlight the parent menu also */
:global(.ant-menu-sub .ant-menu-item-selected) {
  /* Target parent menu title */
  &.ant-menu-item,
  &.ant-menu-submenu-title,
  &.ant-menu-submenu-selected {
    background-color: #D8F7FF !important;
    color: #0078D7 !important;

  }
}

/* Selected Submenu Title when open */
:global(.ant-menu-submenu-selected > .ant-menu-submenu-title) {
  background-color: #D8F7FF !important;
  color: #0078D7 !important;
    border-left: 4px solid #0078D7 !important;
  border-radius: 0 !important;

}

 
.expandedDrawer {
  :global(.ant-menu-item),
  :global(.ant-menu-submenu-title) {
    padding-top: 3px !important;
  }
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 0;
    width: 100%;
    height: calc(100vh - 50px);
  }
}

.k-drawer-link {
  padding: 11px;
  color: white;

  &:hover {
    background-color: unset;
    color: white;
  }
}

kendo-drawer {
  background: linear-gradient(
    180deg,
    #106f99 14.61%,
    #3baecb 60.09%,
    #62c2da 90.26%
  );
}

kendo-drawer-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.left-icon {
  position: absolute;
  bottom: 8px;
  left: 14px;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

::ng-deep .k-button-flat-primary {
  color: #38aac8 !important;
}

::ng-deep .k-loader-primary {
  color: #38aac8 !important;
}

.drawerToggle {
  position: absolute !important;
  bottom: 8px;
  left: 12px;
  color: rgba(25, 97, 144, 1);
  font-size: 22px !important;
  cursor: pointer;
}

.drawerItem {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
}

.svgIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 8px;
}

.parentItem {
  color: #196190 !important;
  font-weight: bold;
}

.selectedParentItem {
  background-color: #196190 !important;
  color: white !important;
  font-weight: bold;

  path {
    fill: white;
  }

  &:hover {
    background-color: #196190;
    color: white;
    font-weight: bold;
  }
}

.visibleItem {
  background-color: #c5e1f2 !important;
  color: #196190 !important;

  &:hover {
    color: black !important;
    background-color: #c5e1f2 !important;
    font-weight: bold;
  }
}

.selectedItem {
  background-color: #013164 !important;
  color: white;
  margin-block: 0px !important;

  &:hover {
    background-color: #013164 !important;
    margin-block: 0px !important;
    color: white;
  }
}

.selectedChildItem {
  color: black !important;
  background-color: #c5e1f2 !important;
  font-weight: bold;
}

.subChildItem {
  background-color: #e1eff8 !important;
  color: #196190 !important;
}

.selectedSubChildItem {
  color: black !important;
  background-color: #e1eff8 !important;
  font-weight: bold;
}

.filterBtn {
  background-color: #c5e1f2;
  color: #013164;
  border-radius: 8px;
  font-weight: 600;
  font-size: 17px;
  height: 40px;
  width: 100%;

  &:active,
  &:focus,
  &:hover {
    background-color: #c5e1f2;
    color: #013164;
  }

  span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;

    & > div {
      display: flex;

      align-items: center;
      gap: 8px;
    }
  }
}

.filterContainer {
  position: absolute;
  bottom: 16px;
  left: 12px;
  width: 226px;

  & > div {
    margin-top: 8px;
    padding: 8px;
    padding-top: 0;
  }
}
.ant-menu-inline
  .ant-menu-sub.ant-menu-inline
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  height: 40px;
  line-height: 40px;
  list-style-position: inside;
  list-style-type: disc;
  margin-block: 0px !important;
}
.ant-menu-submenu-title {
  margin-block: 0px !important;
}
